body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  h1 {
    margin: 0;
    padding: 48px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: #2196f3;
  }
  
  section {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1200px;
    background-color: white;
  }
  
  .flex {
    display: flex;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .input,
  .output {
    display: flex;
    flex-direction: column;
    flex: 1 1 320px;
    margin: 0 16px;
  }
  
  label {
    margin: 24px 0 0;
  }
  
  textarea {
    resize: vertical;
    width: 500px;
  }
  
  button {
    align-self: center;
    margin: 16px 0;
  }
  
  aside {
    margin: 16px;
    border-radius: 5px;
    padding: 16px 12px;
    color: white;
    align-self: center;
    background-color: #555;
    font-family: "Lucida Console", Monaco, monospace;
  }
  
  .description {
    padding: 8px;
    color: #555;
    text-align: justify;
  }
  